<%= render :partial => "maze_init", :locals => { :mode => :edit } %>

<h1>Edit Level</h1>

<%= render :partial => "form", :locals => { :game_level => @game_level, :mode => :edit } %>

<%= link_to 'Back', game_levels_path %>

<div id="gamebox"></div>