<%= render :partial => "maze_init", :locals => { :mode => :play } %>

<%= link_to 'Back', game_levels_path %>
<p>
  <b>Name:</b>
  <%=h @game_level.name %>
</p>

<p>
  <b>Level num:</b>
  <%=h @game_level.level_num %>
</p>

<div id="health">HEALTH: <span id="health_value"></span></div>
<div id="rubbish">RUBBISH CARRIED: <span id="rubbish_carried">0</span></div>
<div id="gamebox"></div>

<br clear="all" />



<%#= link_to 'Edit', edit_game_level_path(@game_level) %> |
<%#= link_to 'Back', game_levels_path %>